.Contact {
  padding: 8rem;
}

.Contact-wrapper {
  position: relative;
	background-color: #000000;
  border-radius: 10px;
  padding: 5rem;
}

.Contact-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 20px solid var(--pink);
  background-color: var(--pink);
  z-index: -1;
}


.Contact h1 {
  color: black;
  margin-bottom: 4rem;
}

.Contact input,
.Contact textarea {
	border: 5px solid var(--pink);
	display: block;
	padding: 7px 15px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.75);
}

.Contact input:focus,
.Contact textarea:focus {
	background-color: rgba(255, 255, 255, 1);
	outline: none;
}

.Contact button {
	color: #000000;
	background: var(--pink);
	border: none;
	text-align: center;
	padding: 1rem;
	font-size: 1rem;
	margin-bottom: 15px;
	margin-top: 5px;
	border-radius: 10px;
	font-family: var(--body-text);
}

.Contact button:hover {
	/* color: var(--pink); */
	background: #fff;
	transition: all .2s;
}

.Contact label {
	color: #fff;
}

.Contact-error-text {
  color: var(--pink)
}

@media screen and (max-width: 768px) {
  .Contact {
    padding: 4rem;
  }

  .Contact-wrapper {
    padding: 4rem;
  }

	.Contact h3 {
		text-align: center;
	}

	.Contact button {
		font-size: .7rem;
	}
}

@media screen and (max-width: 576px) {
  .Contact-wrapper {
    padding: 2rem 1rem;
  }

}