/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

:root {
	--pink: #fed2cf;
	--yellow: #f2d184;
	/* --heading-text: 'Abril Fatface', cursive; */
	--heading-text: 'Playfair Display', serif;
	/* --body-text: 'Major Mono Display', monospace; */
	/* --body-text: 'IBM Plex Mono', monospace; */
	/* --body-text: 'MuseoModerno', cursive; */
	--body-text: 'Syncopate', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--body-text);
}

h1,
h2,
h3,
h4 {
	font-family: var(--heading-text);
}

ul {
	list-style: none;
}

.container {
	width: 95%;
	max-width: 1425px;
	margin: 0 auto;
	/* overflow: hidden; */
}

a {
	color: #000;
	text-decoration: none;
}

.rsp-image {
	display: block;
	width: 100%;
}



